<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>33258760755-pl71t9q3ujsci17q048l1clvioggj25l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33258760755-pl71t9q3ujsci17q048l1clvioggj25l</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Y-wa-H5xlgHcOn4KpWr-SP3R6lmo61E</string>
	<key>GCM_SENDER_ID</key>
	<string>33258760755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felizstudios.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktackular-ab8b5</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktackular-ab8b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33258760755:ios:2cf3931dda29fa05</string>
	<key>DATABASE_URL</key>
	<string>https://snacktackular-ab8b5.firebaseio.com</string>
</dict>
</plist>